.footer-conteiner {
  background-color: #4c394e;
  margin-top: 20px;
}

.footer-content {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.footer-content__text {
  color: #f8fdfe;
  font-size: 16px;
  line-height: 24px; /* 150% */
}
